@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: #242333;
  color: #ddd;
  min-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

/* NAV */
.nav {
  display: flex;
  justify-content: flex-start;
  position: relative;
  padding: 15px;
  border-bottom: 1px solid #3f3f3f;
}

.nav-close {
  color: #3f3f3f;
  transition: all 150ms ease;
}

.nav-close:hover {
  color: #ddd;
}

.nav-text {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/* MOVIE CONTAINER */
.movie-container {
  border-bottom: 1px solid #3f3f3f;
}

.movie-container select {
  padding: 15px 10px;
  width: 100%;
  background-color: #242333;
  border: none;
  color: #ddd;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; /* To remove default arrow */
  background: url('https://cdn1.iconfinder.com/data/icons/user-interface-2-blue-filled-line/24/user_interface_Down_arrow_app_chevron_ui-512.png')
    96% / 8% no-repeat #242333;
  transition: all 200ms ease;
}

.movie-container select:hover {
  color: #aaa;
}

.movie-container select:focus {
  outline: none;
}

.movie-container select::-ms-expand {
  display: none; /* remove default arrow in IE 10 and 11 */
}

/* SHOWCASE (seats)*/
.showcase {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 12px;
  padding-bottom: 0px;
  margin: 0;
  color: #444451;
}

.showcase li {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 5px;
}

.showcase-seat {
  background-color: #444451;
  height: 15px;
  width: 19px;
  margin: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.showcase-seat.selected {
  background-color: #00eaff;
}

.showcase-seat.occupied {
  background-color: #ddd;
}

/* SCREEN AND SEATS */
.seats-container {
  border-bottom: 1px solid #3f3f3f;
  padding: 0px 10px 50px 10px;
  perspective: 300px; /* for 3d effect on the screen (screen needs to have rotateX property */
}

.seats-container .screen {
  background-color: #ddd;
  height: 50px;
  width: 220px;
  margin: 10px auto;
  box-shadow: 0px 5px 10px rgba(225, 225, 225, 0.7);
  transform: rotateX(-50deg);
}

.seats-container .row {
  display: flex;
  justify-content: center;
}

.row .seat {
  background-color: #444451;
  height: 11px;
  width: 15px;
  margin: 3px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transition: all 200ms ease;
}

.seat.selected {
  background-color: #00eaff;
}

.seat.occupied {
  background-color: #ddd;
}

/* Seat that is not occupied */
.seat:not(.occupied):hover {
  transform: scale(1.2);
  background-color: #00eaff;
}

.seat:nth-child(2) {
  margin-right: 30px;
}

.seat:nth-child(6) {
  margin-right: 25px;
}

.row:nth-child(6) {
  margin-bottom: 15px;
}

/* Hide 2nd seat in first row */
.row-1 .seat:nth-child(2) {
  visibility: hidden;
}

/* Hide 7th seat in first row */
.row-1 .seat:nth-child(7) {
  visibility: hidden;
}

/* TEXT */
p.text {
  padding: 0 20px;
}

p.text span {
  color: #00eaff;
}

/* BUY NOW */

.book-btn {
  border: none;
  background-color: #45b756;
  color: #ddd;
  font-size: 16px;
  font-weight: 600;
  padding: 20px;
  transition: all 200ms ease;
  text-transform: capitalize;
}

.book-btn:hover {
  background-color: #267c33;
  cursor: pointer;
}

.book-btn:focus {
  outline: none;
}
